.Errors {
    @media (max-width: 480px) {
        height: auto;
        padding: 10px;
    }
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.blue {
    background-color: #4c58e2;
}
.red {
    background-color: #e24c4c;
}